.navbar{
    background-color: #4A403A ;
}
body{
    overflow: hidden;
    }

.logo{
    position: absolute;
    height: 10%;
    
}
.hero{
    background: #4A403A;
    min-height: 110vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.navegacion{
    display: flex;
    align-items: center;
    padding: 20px 8%;

}

.navegacion .logo{
    width: 200px;
    cursor: pointer;
}

.navegacion ul{
    flex: 1;
    text-align: right;
}

.navegacion ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navegacion ul li a{
    text-decoration: none;
    color: #FFC069;
}

.boton{
    background: #efefef ;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.boton span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}

.lamp{
    width: 100%;
}

.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1{
    font-size: 80px;
    font-weight: 400;
}

.text-container a{
    text-decoration: none;
    background: #00986F;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}

.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line{
    width: 250px;
    height: 4px;
    background: #FFF;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #FFC069;
    display: block;
}

.active{
    background: green;
}
.active span{
    background: #FFF;
    margin-left: 31px;
}

.on{
    opacity: 1;
}

/* Login de Miguel */
body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 380px;
    background: #152D35;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}
.login-box .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    outline: none;
    height: 40px;
    color: #FFF;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.login-box a:hover{
    color: #fff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    position: absolute;
    top: 0px;
    left: 0px;

  }
  body {
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .texto{
      width: 200px;
      margin: auto;
      display: block;
      top: 50px;
      border-radius: 50px;
  }
  
  .form-register {
    align-items: center;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
   
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
  }
.checkbox-input{
    width: 20px;
    position: relative;
    transition: all 5.0s ease;
    padding: 6px 8px;
    border-radius: 6px;
    justify-content: center;
    background: rgba(0, 119, 255, 0.06);
}
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-register .botons{
    background:#1f53c5;
    color: #ffffff;
    display: inline-block;
    padding: 10px 140px;
    border-radius: 2px;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}
::-webkit-scrollbar {
    display: none;
}
.pie {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
    color: #FFC069}