<div class="container-fluid">
    <div class="row">
        <div class="col-6 imgcontacto">
        </div>
        <div class="col-6">
            <form action="" class="form-contacto">
                <p class="fs-2 fw-bolder">CONTACTO</p>
                <input type="text" placeholder="Ingrese su nombre" name="" id=""> <br>
                <input type="email" placeholder="Ingrese su correo" name="" id=""> <br>
                <input type="text" placeholder="Ingrese su telefono" name="" id=""> <br>
                <input type="text" placeholder="Ingrese el nombre de su empresa (opcional)" name="" id=""> <br>
                <textarea name="" id=""  rows="10" placeholder="Ingrese su mensaje aqui"></textarea> <br>
                <button class="btn btn-outline-warning text-center">ENVIAR</button>
            </form>

        </div>
    </div>
</div>