<div class="container-fluid">
    <div class="row">
        <div class="col-6 imgcontacto">
        </div>
        <div class="col-6">
            <form action="" class="form-contacto">
                <p class="fs-2 fw-bolder">CONTACT</p>
                <input type="text" placeholder="Enter your name" name="" id=""> <br>
                <input type="email" placeholder="Enter your e-mail" name="" id=""> <br>
                <input type="text" placeholder="Enter your phone" name="" id=""> <br>
                <input type="text" placeholder="Enter your enterprise name (optional)" name="" id=""> <br>
                <textarea name="" id=""  rows="10" placeholder="Enter your message"></textarea> <br>
                <button class="btn btn-outline-warning text-center">SEND</button>
            </form>

        </div>
    </div>
</div>