<div class="container-fluid">
    <div class="row">
        <div class="col-6 imgregister">
        </div>
        <div class="col-6">
            <form action="" class="form-register">
                <p class="fs-2 fw-bolder">REGISTER</p>
                <input type="text" placeholder="Enter your name" name="" id=""> <br>
                <input type="text" placeholder="Enter your lastname" name="" id=""> <br>
                <input type="email" placeholder="Enter your e-mail" name="" id=""> <br>
                <input type="date" placeholder="" name="" id="" > <br>
                <input type="text" placeholder="Enter your country" name="" id=""> <br>
                <input type="text" placeholder="Enter your province" name="" id=""> <br>
                <input type="text" placeholder="Enter your user" name="" id=""> <br>
                <input type="password" placeholder="Enter your password" name="" id=""> <br>
                <button class="btn btn-outline-warning text-center">Sing in</button>
            </form>

        </div>
    </div>
</div>