<div class="container-fluid fondo">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center imgLogo">
            <img src="../../../assets/logo.png" alt="" routelink='/' class="img-imglogo">
        </div>
        <div class="col-6 txthome"> 
                <p class=" tittle fw-bolder">Venta de libros!</p>
                <p class="fs-6 text-justify">Disfruta de una gran variedad de libros de uso público, sube material original y comparte el contenido con tus amigos, tu familia y el resto del mundo </p>
                <button class="btn btn-success">Mira todos los libros</button>
                <p class="text-center">© 2021 Página desarrollada por Grupo 5 ISPC - Web services</p>
        </div>
    </div>
</div>
