.imgLogo{
    height: 90vh;
}

.img-imglogo{
    width: 500px;
}

.txthome{
    margin-top:15%;
}

.fondo{
    background-color: rgba(74, 64, 58, 1);
    color:white;
    height: 93.8vh;
}

.tittle{
    font-size: 100px;
}