<div class="container-fluid fondo">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center imgLogo">
            <img src="../../../assets/logo.png" alt="" routelink='/' class="img-imglogo">
        </div>
        <div class="col-6 txthome"> 
                <p class="tittle fw-bolder">E-commerce - Bookstore!</p>
                <p class="fs-6 text-justify mr-4">Enjoy a wide variety of books, upload original material and share the content with your friends, <br> family and the rest of the world.</p>
                <button class="btn btn-success">Look at all the books!!</button>
                <p class="text-center">© 2021 Page developed by Team 5 ISPC - Web services</p>
        </div>
    </div>
</div>
