<div class="container-fluid">
    <div class="row">
        <div class="col-6 imgregister">
        </div>
        <div class="col-6">
            <form action="" class="form-register">
                <p class="fs-2 fw-bolder">REGISTRO</p>
                <input type="text" placeholder="Ingrese su nombre" name="" id=""> <br>
                <input type="text" placeholder="Ingrese su apellido" name="" id=""> <br>
                <input type="email" placeholder="Ingrese su correo" name="" id=""> <br>
                <input type="date" placeholder="" name="" id=""> <br>
                <input type="text" placeholder="Ingrese su pais" name="" id=""> <br>
                <input type="text" placeholder="Ingrese su provincia" name="" id=""> <br>
                <input type="text" placeholder="Ingrese su usuario" name="" id=""> <br>
                <input type="password" placeholder="Ingrese su contraseña" name="" id=""> <br>
                <button class="btn btn-outline-warning text-center">REGISTRARSE</button>
            </form>

        </div>
    </div>
</div>