<div class="container-fluid">
    <div class="row">
        <div class="col-6 imglogin">
        </div>
        <div class="col-6">
            <form action="" class="form-login">
                <p class="fs-2 fw-bolder">LOGIN</p>
                <input type="text" placeholder="Enter your user" name="" id=""> <br>
                <input type="password" placeholder="Enter your password" name="" id=""> <br>
                <button class="btn btn-outline-warning text-center">Get into</button>
            </form>

        </div>
    </div>
</div>